@import '../common';

.PingCAP-copyBtn {
  position: relative;
  z-index: 2;
  padding: 16px 0.3rem 0;
  float: right;
  width: 85px;
  color: #94a3ea;
  background: $M2;
  font-family: inherit;
  font-size: 13px;
  font-style: italic;
  border: none;
  outline: none;
  border-radius: 0 3px 0 0;
  cursor: pointer;
}
