@import '../common';

.PingCAP-Loading {
  @include VHCenter;

  &.whole-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($color: $B5, $alpha: 0.75);
    z-index: 9999;
  }
}
