@import '../common';

.PingCAP-Loading {
  @include VHCenter;

  &.whole-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $M2;
    z-index: 9999;
  }
}
