.PingCAP-Navbar {
  &.has-border-and-shadow {
    border-bottom: 1px solid $T2;
    box-shadow: $shadow;
  }

  .navbar-item {
    .logo {
      height: 30px;
    }

    &.main {
      @include has-item-active(1.5rem);
      @include mobile {
        border-bottom: 1px solid $T2;
      }
    }

    &.disabled {
      color: $grey-light;
      pointer-events: none;
    }
  }

  .lang-switch {
    .navbar-item:hover {
      color: $B1 !important;
    }
  }

  .navbar-link {
    &:after {
      border-color: $primary;
    }

    &:hover {
      &:after {
        border-color: $B1;
      }
    }
  }

  .navbar-burger {
    color: $primary;
  }

  .progress {
    &.show {
      display: block;
    }

    display: none;
    position: fixed;
    top: calc(#{$navbar-height} - 1px);
    height: 1px;
    background: transparent;
    border-radius: 0;
    z-index: 30; // same as .navbar.is-fixed-top

    &:-webkit-progress-bar {
      background: transparent;
    }
  }
}
