.PingCAP-Navbar {
  &.has-border-and-shadow {
    border-bottom: 1px solid $T2;
    box-shadow: $shadow;
  }

  .navbar-item {
    .logo {
      width: 150px;
    }

    &.main {
      @include has-item-active(1.5rem);
      @include mobile {
        padding: 1rem 2rem;
        border-bottom: 1px solid $T2;
      }
    }
  }

  .navbar-burger {
    color: $B3;
  }

  .lang-switch {
    .navbar-item:hover {
      color: $B1 !important;
    }
  }
}
