@import '../common';

.PingCAP-Nav-Columns {
  margin-top: 2rem;

  .column-title {
    margin-bottom: 1rem;
    font-size: $size-7;
    font-weight: bold;
    color: $B3;
  }

  ul {
    list-style: none !important;
    padding-left: 0 !important;

    a {
      color: $B1 !important;

      &:hover {
        color: $primary !important;
      }
    }
  }
}
