@import '../common';

.PingCAP-simpleTab {
  margin-top: 3rem;

  .tabs {
    li + li {
      margin-top: 0;
    }

    &.is-boxed {
      ul {
        padding-left: 0;
      }

      .is-active a,
      a:hover {
        color: $B1;
        background: $M2;
        text-decoration: none;
      }

      a {
        color: $B4;
      }
    }
  }

  .tabpanel {
    display: none;

    &.is-active {
      display: block !important;
    }
  }
}
