@import '../common';

.PingCAP-Doc-syntax-diagram-root {
  background: $M2;
}

.PingCAP-Doc-syntax-diagram-toolbar {
  align-self: flex-end;

  .MuiButton-label {
    padding: 0 $p2;
  }
}

.PingCAP-Doc-syntax-diagram-container {
  $stroke: #0e2336;

  padding: 0 $p1;

  dt {
    &:first-child {
      margin-top: 0;
    }
    &::after {
      font-weight: normal;
      content: ' ::=';
    }
  }

  dd {
    overflow-x: auto;
    overflow-y: hidden; // needed to make it look good on IE 11.
  }

  path {
    fill: none;
    stroke-width: 1;
    stroke: $stroke;
  }

  text {
    font: 12px Verdana, sans-serif;
    text-anchor: middle;
  }

  rect {
    fill: #e5eff8;
    stroke-width: 1;
    stroke: $stroke;
  }

  .start-end {
    fill: $stroke;
  }

  .terminal {
    rect {
      fill: #d0e2f3;
    }
    text {
      font-weight: bold;
    }
  }
}
