@import '../common';

$navbar-height: 5.25rem; // 84px

.PingCAP-TOC {
  display: none;

  &.show-toc {
    display: block;
    transition: display 10ms;
  }

  @include mobile {
    display: none;
    background: $B5;
  }

  a {
    color: $B3;
    line-height: 1.75;

    &:hover {
      color: $primary;
    }
  }

  ul {
    li {
      position: relative;
      padding: 5px 0;
      color: $B3;
      font-size: $size-9;
      font-weight: normal;
      cursor: pointer;

      &.can-unfold {
        padding-left: 0.5rem;
        padding-bottom: 0;

        .remove-icon {
          display: inline-block;
          width: 12px;
          height: 12px !important;
          margin-bottom: -2px;
          margin-left: 0.5rem;
          background: url(../../../images/toc/remove.svg) no-repeat;
          background-size: contain;
        }

        li > a {
          padding-left: 0.5rem;
        }

        ul:first-child {
          li:first-child {
            padding-top: 10px;
          }
        }

        &:hover {
          color: $B1;

          .remove-icon {
            background: url(../../../images/toc/remove-hl.svg) no-repeat;
            background-size: contain;
          }
        }
      }

      .add-icon {
        display: none;
      }

      &.folded {
        word-break: break-word;
        padding-bottom: 5px;

        .remove-icon {
          display: none;
        }

        .add-icon {
          display: inline-block;
          width: 12px;
          height: 12px !important;
          margin-bottom: -2px;
          margin-left: 0.5rem;
          background: url(../../../images/toc/add.svg) no-repeat;
          background-size: contain;
        }

        > ul {
          display: none;
        }

        ul {
          height: 0;

          &:first-child {
            padding-top: 0px;
          }
        }

        &:hover {
          .add-icon {
            background: url(../../../images/toc/add-hl.svg) no-repeat;
            background-size: contain;
          }
        }
      }

      &.is-active {
        background: $B5;

        > a {
          color: $primary;
        }
      }

      ul {
        padding-left: 0.5rem;
        overflow: hidden;
        transition: height 0.25s ease;
      }

      a {
        display: inline-block;
        width: 100%;
        word-break: break-word;
      }
    }

    &.top {
      @include mobile {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      > li {
        padding: 9px 12px 9px 0;
        border-bottom: 1px solid $C2;
        word-break: break-word;
        font-weight: bold;

        > ul {
          padding-left: 0;
        }

        &:after {
          content: '';
          position: absolute;
          top: calc(0.5rem + 6px);
          right: 0;
          width: 12px;
          height: 12px;
          background: url(../../../images/toc/subject.svg);
          background-size: cover;
          transform: rotate(0deg) !important;
        }

        &.has-no-subject:after {
          display: none;
        }
      }
    }
  }
}

@keyframes easeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
