@import '../common';

$navbar-height: 5.25rem; // 84px

.PingCAP-TOC {
  position: sticky;
  top: $navbar-height;

  @include mobile {
    display: none;
    background: $B5;
  }

  &.show {
    display: unset;
  }

  a {
    color: $B4;
    line-height: 1.75;

    &:hover {
      color: $primary;
    }
  }

  ul {
    li {
      position: relative;
      padding-top: 1rem;
      color: $B3;
      font-weight: bold;
      cursor: pointer;

      &.can-unfold {
        &:after {
          content: '';
          position: absolute;
          top: calc(1rem + 9px);
          right: 0;
          width: 12px;
          height: 12px;
          background: url(../../../images/toc/arrow.svg) no-repeat;
          background-size: contain;
          transform: rotate(180deg);
          transform-origin: 6px 3px;
          transition: transform 0.5s ease-out;
        }
      }

      &.folded {
        &:after {
          transform: rotate(0deg);
        }

        ul {
          height: 0;
        }
      }

      ul {
        padding-left: 1.5rem;
        overflow: hidden;
        transition: height 0.25s ease;
      }

      a {
        display: inline-block;
        width: 90%;
      }
    }

    &.top {
      @include mobile {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      > li {
        padding-bottom: 1rem;
        border-bottom: 1px solid $C2;

        &:after {
          content: '';
          position: absolute;
          top: calc(1rem + 6px);
          right: 0;
          width: 12px;
          height: 12px;
          background: url(../../../images/toc/subject.svg);
          background-size: cover;
          transform: rotate(0deg) !important;
        }

        &.has-no-subject:after {
          display: none;
        }
      }
    }
  }
}
