@import '../common';

$navbar-height: 5.25rem; // 84px

.PingCAP-TOC {
  position: sticky;
  top: $navbar-height;
  max-height: calc(100vh - 230px);
  overflow: auto;
  opacity: 0;
  padding-right: 1rem;

  &.show-toc {
    opacity: 1;
    transition: opacity 2s;
  }

  @include mobile {
    display: none;
    background: $B5;
  }

  &.show {
    display: unset;
  }

  a {
    color: $B3;
    line-height: 1.75;

    &:hover {
      color: $primary;
    }
  }

  ul {
    li {
      position: relative;
      padding-top: 0.5rem;
      color: $B3;
      font-size: $p2;
      font-weight: normal;
      cursor: pointer;

      &.can-unfold {
        &:after {
          content: '';
          position: absolute;
          top: calc(0.5rem + 9px);
          right: 0;
          width: 12px;
          height: 12px;
          background: url(../../../images/toc/arrow.svg) no-repeat;
          background-size: contain;
          transform: rotate(180deg);
          transform-origin: 6px 3px;
          transition: transform 0.5s ease-out;
        }
      }

      &.folded {
        padding-right: 12px;
        word-break: break-word;
        
        &:after {
          transform: rotate(0deg);
        }

        ul {
          height: 0;
        }
      }

      &.is-active > a {
        color: $primary;
      }

      ul {
        padding-left: 1rem;
        overflow: hidden;
        transition: height 0.25s ease;
      }

      a {
        display: inline-block;
        width: 90%;
        word-break: break-word;
      }
    }

    &.top {
      @include mobile {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      > li {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $C2;
        word-break: keep-all;
        font-weight: bold;
        font-size: $p1;

        &:after {
          content: '';
          position: absolute;
          top: calc(0.5rem + 6px);
          right: 0;
          width: 12px;
          height: 12px;
          background: url(../../../images/toc/subject.svg);
          background-size: cover;
          transform: rotate(0deg) !important;
        }

        &.has-no-subject:after {
          display: none;
        }
      }
    }
  }
}

@keyframes easeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
