@import '../common';

.PingCAP-TOC {
  ul {
    li {
      padding-top: 0.5rem;
      color: $primary;
      font-size: $size-7;
      cursor: pointer;
      word-break: break-word;

      ul {
        padding-left: 1rem;
      }

      a {
        font-weight: normal;

        &.active {
          color: $B1;
          font-weight: bold;
        }
      }

      &.can-unfold {
        position: relative;
        font-weight: bold;

        > ul {
          height: 0;
          overflow: hidden;
        }

        span.icon {
          position: absolute;
          top: 7px;
          left: -7px;

          & > i:before {
            font-weight: bold;
          }
        }
      }

      &.folded > ul {
        visibility: hidden;
      }

      & > * .can-unfold {
        padding-left: 1rem;
      }
    }

    &.top {
      > li {
        position: relative;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $T2;

        &:not(.has-no-subject):after {
          content: '';
          position: absolute;
          top: calc(0.5rem + 6px);
          right: 0;
          width: 12px;
          height: 12px;
          background: url(images/toc/subject.svg);
          background-size: cover;
        }
      }
    }
  }
}
