@import '../common';

.PingCAP-UserFeedback {
  &.feedback-prompt {
    @include mobile {
      display: none;
    }

    position: fixed;
    bottom: 0;
    right: 1rem;
    width: 230px;
    z-index: 2;
    font-size: $size-8;
    background: #f7f8f9;
    font-family: Arial, Helvetica, sans-serif;

    .feedback-header {
      display: flex;
      position: relative;
      padding: 10px;
      color: $M1;
      background: $B1;
      border-radius: 10px 10px 0 0;

      .feedback-title {
        margin: 0 auto;
        cursor: pointer;
      }

      .close-icon {
        display: none;
        position: absolute;
        right: 1rem;
        cursor: pointer;
      }

      .show-feedback-close {
        display: inline;
      }
    }

    .thumbs {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 10px 3rem;

      .thumb {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 2.5rem;
        width: 20px;
        height: 20px;
        color: $B3;
        cursor: pointer;

        &:after {
          position: absolute;
          left: 2rem;
        }
      }

      .thumb-up {
        background: url(../../../images/thumb-up.svg) no-repeat;
        background-size: contain;
      }

      .thumb-down {
        background: url(../../../images/thumb-down.svg) no-repeat;
        background-size: contain;
      }
    }

    .feedback-body {
      display: none;
    }

    .show-feedback-body {
      display: inherit;
    }

    .feedback-form {
      padding: 1rem;
      font-size: $size-9;
      color: $B3;

      iframe {
        width: 100% !important;
      }

      .input,
      .textarea {
        border: none;
        box-shadow: none;
        height: 100%;
        background: transparent;
        padding: 5px 0 0;

        label {
          font-size: 13px;
          color: $B3;

          &.hs-form-checkbox-display {
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            input {
              margin: 5px 8px 5px 0;
            }
          }
        }
      }

      textarea.hs-input,
      .hs_email .hs-input {
        padding: 5px;
        width: 100%;
        color: $B3;
        border-color: $B3;
      }

      ::placeholder,
      ::-ms-input-placeholder,
      ::-ms-input-placeholder {
        color: $B4;
        opacity: 50%;
      }

      textarea.hs-input {
        min-height: 80px;
      }

      .hs_email .hs-input {
        border-width: 1px;
      }

      .hs-error-msgs,
      .hs-form-required {
        color: $T3;
      }

      .hs_error_rollup {
        display: none;
      }

      .hs_submit {
        .actions {
          margin: 0 auto;
          width: 50%;

          input {
            padding: 7px;
            width: 100%;
            border: none;
            background: $B1;
            color: $M1;
          }
        }
      }

      .field:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
