@import '../common';

.PingCAP-version-switcher.dropdown {
  width: 100%;
  margin-bottom: 1rem;

  @include mobile {
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 29;
  }

  .dropdown-trigger {
    width: 100%;

    .button {
      justify-content: left;
      color: $B4;
      border-color: $C2;
      font-size: $size-7;
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        top: 1em;
        right: 1em;
        width: 12px;
        height: 12px;
        background: url(../../../images/toc/arrow.svg) no-repeat;
        background-size: contain;
        transform: rotate(0deg);
        transform-origin: 6px 3px;
        transition: transform 0.5s ease-out;
      }

      &.is-active {
        &:after {
          transform: rotate(180deg);
        }
      }
    }
  }

  .dropdown-menu {
    width: 100%;

    @include mobile {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .unclickable-btn {
    position: relative;
    color: grey !important;
    cursor: not-allowed !important;
    opacity: 0.5;
  
     &:hover {
       .tooltiptext {
         visibility: visible;
         opacity: 1;
       }
     }
  }

  .tooltiptext {
    position: absolute;
    left: 55px;
    padding: 5px;
    text-align: center;
    opacity: 1;
    transition: opacity .3s;
    z-index: 1;
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    font-size: 12px;
    line-height: 1.7;
    border-radius: 4px;
  }
  
  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
}
