@import '../common';

.PingCAP-404-Page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;

    h1 {
        margin: 2rem auto;
        padding: 0 1rem;
        font-size: $size-4;
    }
}
