@import '../common';

.PingCAP-Docs-Search {
  .section.container {
    min-height: 70vh;
    @include tablet {
      padding-left: 0;
      padding-right: 0;
    }

    @media screen and (min-width: 1024px) {
      max-width: 1344px;
    }
  }

  .filter-panel {
    .label {
      color: $B3;
      font-size: $size-7;
      font-weight: bold;
    }

    .type-list,
    .version-list {
      display: flex;
      flex-flow: row wrap;

      .dropdown {
        outline: none;
      }

      .dropdown-item {
        cursor: pointer;

        &.is-active {
          color: $B1;
        }

        &:hover {
          color: $B1;
        }
      }

      .item {
        position: relative;
        padding-right: 2rem;
        color: $B4;
        font-size: $size-7;

        &:last-child {
          padding-right: 0;
        }

        &.is-active {
          color: $B1;
        }

        &:hover {
          color: $B1;
          cursor: pointer;
        }
      }
    }
  }
}

.search-result {
  margin-top: 2rem;

  .counts {
    color: $B4;
    opacity: 0.5;
  }

  .results {
    margin: 2rem 0;

    .item {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }

      .title {
        color: $B3;
        margin-bottom: 1rem;
        font-weight: normal;
      }

      .url,
      .content {
        color: $M4;
        font-size: $size-7;
        padding-bottom: 1rem;

        .algolia-docsearch-suggestion--highlight {
          color: $B1;
        }
      }

      a.url:hover {
        text-decoration: underline;
      }
    }
  }

  .no-result {
    p {
      margin: 1rem 0;
    }

    ul.tips {
      list-style: inside;
    }
  }
}
