@import '../common';

.PingCAP-Docs-Search .filter-panel {
  .block {
    display: flex;
    align-items: center;
  }

  .list-label {
    margin-right: 2rem;
    color: $B3;
    font-weight: bold;
  }

  .list {
    display: flex;
    flex-flow: row wrap;

    .item {
      margin-right: 1rem;
      color: $B4;

      &:last-child {
        margin-right: 0;
      }

      &.is-active {
        color: $B1;
      }

      &:hover {
        color: $B1;
      }
    }
  }
}
