@import '../common';

.PingCAP-Tools {
  .card {
    padding: 1.5rem;
    box-shadow: none;
    transition: all 0.5s;

    &:hover {
      box-shadow: $shadow;
      border: 1px solid $B1;
    }
  }

  .card-header {
    align-items: center;
    box-shadow: none;
  }

  .tool-icon {
    background-size: contain;
    background-repeat: no-repeat;

    $icons: tidb-operator dm tidb-tools tiup;
    @each $icon in $icons {
      &.#{$icon} {
        background-image: url(images/tools/#{$icon}.svg);
      }
    }
  }
}
