@import '../../styles/common';

.select {
  margin-bottom: 1.5rem;
}

.option-label {
  margin-right: 2rem;
  color: $B3;
  font-weight: bold;
}

.option-item {
  margin-right: 1rem;
  color: $B4;
  font-size: 0.875rem;
  line-height: 1.5;
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 2px;
  background-color: #fff;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &.is-active {
    background-color: #f2f2f2;
    color: $B1;
  }

  &:hover {
    color: $B1;
    background-color: #f9f9f9;
  }
}
