@import 'variables';
// Use fullpath to make it easier for editors to locate this file
@import '../../node_modules/bulma/sass/utilities/mixins.sass';

// Vertical and horizontal centering in flexbox
@mixin VHCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content
  }
}

// Use in navbar and footer item
@mixin has-item-active($bottom: false) {
  position: relative;

  &:hover {
    @if type-of($bottom) == number {
      &:after {
        content: '';
        position: absolute;
        bottom: $bottom;
        left: 50%;
        width: 20px;
        height: 3px;
        background: $B1;
        transform: translateX(-50%);
      }
    }
  }
}

// Common input style
@mixin has-pingcap-style-input {
  input {
    background: $M2;
    border-color: $T2;
    box-shadow: none;

    & ~ .icon,
    &::placeholder {
      color: $grey;
    }

    &:hover,
    &:focus {
      border-color: $B1;
    }
  }
}
