$M1: #fff;
$M2: #f7f8f9;

$B1: #3d3fea; // highlight
$B2: #00aeef;
$B3: #172d72;
$B4: #000431; // dark

$T1: #4fc172; // success
$T2: #e9eaee; // divider
$T6: #e30c34; // error

$primary: #172d72;
$info: $B2;
$success: $T1;
$danger: $T6;
$dark: $B4;
$title-color: #2c2c2c;
$subtitle-color: #565656;
$text-color: $subtitle-color;

$size-7: 0.875rem;

$navbar-height: 5.25rem;

$title-lh: 1.125;
