$size-1: 4rem;
$size-2: 3rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1.125rem;
$size-7: 1rem;

$LH1: 3;
$LH2: 2.5;
$LH3: 2;
$LH4: 1.75;
$LH5: 1.5;
$LH6: 1.25;
$LH7: 1;
$LH8: 0.5;

$M1: #fff;
$M2: #fafafa;
$M3: #30323e;
$M4: #707070;

$C1: #e7f0fc;
$C2: #dbe4f0;
$C3: #b8c4d6;
$C4: #9fa8b9;
$C5: #5d6d86;

$B1: #2e2fff;
$B2: #10a6fa;
$B3: #172d72;
$B4: #6e77a3;
$B5: #f7f8f9;

$T1: #a9d359;
$T2: #35ced5;
$T3: #ff4f5e;
$T4: #7d3f98;
$T5: #f8c200;
$T6: #f15a24;

$family-sans-serif: 'Titillium Web', sans-serif;

$primary: $B1;

// widescreen false
$widescreen-enabled: false;

$shadow: 0 0.1875em 0.5em #f0f0f0;
$shadow-hover: 0 0.375em 0.75em #eaeaea;

// box
$box-shadow: $shadow;

// card
$card-shadow: $shadow;

// navbar
$navbar-item-hover-background-color: #e9ecef;

// title
$title-line-height: 1.2;
