@import "./typographyDefine";
@import "highlight.js/styles/github.css";
@import "katex/dist/katex.min.css";

@import "github-markdown-css/github-markdown-light.css";

.PingCAP-Doc {
  .doc-global-home {
    background-image: url(../../images/docHome/home-hero-bg.svg);
    background-position: top;
    background-repeat: no-repeat;

    .markdown-body {
      background: none;
    }
  }

  .doc-content {
    a {
      &.anchor {
        float: none;
        margin-left: 4px;
      }
    }

    ul {
      list-style: initial;
    }

    table {
      th,
      td {
        text-align: left;

        code[class*="language-text"] {
          white-space: normal;
          word-break: initial;
        }
      }
    }

    img {
      display: block;
      margin: auto;
    }

    code {
      background-color: var(--tiui-palette-carbon-200);
      border-radius: var(--tiui-shape-border-radius);
    }

    pre {
      position: relative;
      overflow-x: hidden;
      background-color: var(--tiui-palette-carbon-200);
      border-radius: var(--tiui-shape-border-radius);

      code {
        .number {
          align-items: normal;
          background-color: transparent;
          border-radius: 290486px;
          display: inline-flex;
          font-size: 14px;
          height: 0;
          justify-content: center;
          margin-right: 0;
          min-width: 0;
          padding: 0;
          text-align: center;
          vertical-align: top;
        }
      }
    }

    :not(pre) > code[class*="language-text"] {
      white-space: normal;
      word-break: break-word;
      color: #657b83;
    }

    :not(pre) > code {
      color: unset;
    }

    .version-mark {
      position: relative;
      padding: 0 7px 0 25px;
      font-style: italic;
      font-size: 16px;
    }

    .version-mark::before {
      content: "";
      position: absolute;
      left: 2px;
      top: 50%;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
      background-image: url(../../images/version-mark.png);
      background-size: 20px;
    }
  }

  .markdown-body {
    font-family: moderat, -apple-system, "Poppins", "Helvetica Neue",
      "Noto Sans", "Fira Code", "IBM Plex Sans", "sans-serif";
    color: var(--tiui-palette-carbon-900);
    font-size: 16px;
    line-height: 1.5;

    a:not(.button) {
      color: var(--tiui-palette-secondary);
    }

    pre {
      margin-top: 1rem;
    }

    .footnotes ol {
      list-style-type: disc;
    }
  }
}

.markdown-body {
  h1 {
    font-weight: 400;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  li + li {
    margin-top: 8px;
  }
}
