@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');
@import 'common';

$family-custom: 'Titillium Web', #{$family-sans-serif};
$family-primary: $family-custom;

@import 'bulma';

.social {
  width: 36px;
  height: 36px;

  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
$socials: twitter linkedin facebook reddit slack youtube yc github slack
  stackOverflow asktug;
@each $social in $socials {
  .#{$social} {
    background-image: url(images/socials/#{$social}.svg);

    &:hover {
      background-image: url(images/socials/#{$social}-hl.svg);
    }
  }
}

body {
  @extend .has-navbar-fixed-top;
}

a {
  color: $primary;

  &:hover {
    color: $B1;
  }
}

.card {
  border: 1px solid $T2;
}

.field {
  .control {
    @include has-pingcap-style-input;
  }
}

.subtitle {
  color: $B4;
}

@import 'components/navbar';
@import 'components/footer';
