@import "./fonts.css";
@import "../theme/variables.css";

html {
  font-family: moderat, -apple-system, "Poppins", "Helvetica Neue", "Noto Sans",
    "Fira Code", "IBM Plex Sans", "sans-serif";
  font-variant-ligatures: no-common-ligatures;
}

body {
  margin: 0;
}

iframe {
  max-width: 100%;
}
