@import '../common';
@import '../components/navCloumns';
@import '../components/tabsPanel';
@import '../components/embedYouTube';

$navbar-height: 5.25rem; // 84px
$navbar-height-mobile: 4.25rem; // 68px

.PingCAP-Doc {
  .section {
    @include mobile {
      padding-top: 1.5rem;
    }

    @include desktop {
      padding-top: 1.5rem !important;
    }

    @include tablet {
      padding-top: $navbar-height;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }

  .doc-progress {
    @include mobile {
      top: calc(#{$navbar-height-mobile} - 1px);
    }

    &.show {
      display: block;
    }

    display: none;
    position: fixed;
    top: calc(#{$navbar-height} - 1px);
    height: 1px;
    background: transparent;
    border-radius: 0;
    z-index: 30; // Same as .navbar.is-fixed-top

    &:-webkit-progress-bar {
      background: transparent;
    }
  }

  .content-columns {
    display: flex;

    @include mobile {
      display: block;
    }
  }

  .left-column {
    position: sticky;
    top: $navbar-height;
    max-height: calc(100vh - #{$navbar-height});
    overflow: auto;
    min-width: 240px;
    padding-right: 1rem;

    @include mobile {
      position: relative;
      margin-left: -0.75rem;
      margin-right: -0.75rem;
      padding-left: 0;
      padding-right: 0;
      top: 0;
      max-height: 100%;
      overflow: visible;
    }
  }

  .doc-menu-mobile {
    @include mobile {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    @include tablet {
      display: none;
    }

    position: relative;
    padding: 1rem 0;
    background: $B5;
    color: $B3;
    font-weight: bold;
    z-index: 28;

    &:after {
      content: '';
      position: absolute;
      top: calc(1rem + 9px);
      right: 1.5rem;
      width: 12px;
      height: 12px;
      background: url(../../../images/toc/arrow.svg) no-repeat;
      background-size: contain;
      transform: rotate(0deg);
      transform-origin: 6px 3px;
      transition: transform 0.5s ease-out;
    }

    &.active {
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  // Custom markdown body
  .doc-content {
    min-width: calc(100% - 240px - 200px);

    @include tablet {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    color: $M3;
    line-height: 1.75;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      border-bottom: none;
      z-index: 1;
      color: $M3;

      &:target:before {
        content: '';
        display: block;
        height: $navbar-height;
        margin-top: -$navbar-height;
      }

      &:target > a.anchor.before {
        transform: translate(-20px, $navbar-height);

        @include mobile {
          transform: translate(0, $navbar-height);
        }
      }
    }

    h1 {
      font-size: $size-4;
    }

    h2 {
      font-size: $size-5;
    }

    h3 {
      font-size: $size-6;
    }

    h4 {
      font-size: $size-7;
    }

    p,
    ul {
      position: relative;
      z-index: 2;
    }

    a {
      color: $primary;
      &.anchor {
        &.before {
          @include mobile {
            transform: translateX(0);
          }
        }
      }
    }

    ul {
      list-style: initial;
    }

    table {
      th,
      td {
        text-align: left;

        code[class*='language-text'] {
          white-space: normal;
          word-break: initial;
        }
      }
    }
    
    img {
      display: block;
      margin: auto;
    }

    pre {
      background-color: $M2;
      font-size: $p2;

      code {
        .number {
          align-items: normal;
          background-color: transparent;
          border-radius: 290486px;
          display: inline-flex;
          font-size: 14px;
          height: 0;
          justify-content: center;
          margin-right: 0;
          min-width: 0;
          padding: 0;
          text-align: center;
          vertical-align: top;
        }
      }
    }

    :not(pre) > code[class*='language-text'] {
      white-space: normal;
      word-break: break-word;
    }

    .version-mark {
      position: relative;
      padding: 0 7px 0 25px;
      font-style: italic;
      font-size: 16px;
      color: $B4;
    }

    .version-mark::before {
      content: '';
      position: absolute;
      left: 2px;
      top: 50%;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
      background-image: url(../../../images/version-mark.png);
      background-size: 20px;
    }

    .commit-info {
      margin-top: 5rem;
      padding: 1rem;
      background-color: $M2;
    }
  }

  .gatsby-highlight {
    background: $M2;

    pre {
      &::before {
        padding-right: 0.5rem;
      }

      &.shell-root::before {
        content: '#';
      }

      &.shell-regular::before {
        content: '$';
      }

      &.sql::before {
        content: '>';
      }
    }
  }

  .doc-toc-column {
    position: sticky;
    top: calc(#{$navbar-height});
    max-height: calc(100vh);
    overflow: auto;
    min-width: 200px;

    @include mobile {
      display: none;
    }
  }

  .doc-toc {
    .title {
      margin: 0 0 1rem;
      color: $B3;
      font-size: $size-7;
    }

    a {
      color: $B3;
      font-size: $size-9;
      line-height: 1.5;

      &:hover {
        color: $primary;
      }
    }

    .toc-content {
      position: sticky;
      top: calc(#{$navbar-height});
      max-height: calc(100vh - 250px);
      overflow: auto;
    }

    ul {
      li {
        line-height: 1;
        padding-top: 5px;
        padding-bottom: 5px;

        &:first-child {
          padding-top: 10px;
        }
        ul {
          padding-left: 1rem;
        }
      }
    }
  }

  .doc-download {
    position: relative;
    font-size: $p2;
    padding-bottom: 0.5rem;

    a {
      margin-left: 1.5rem;
      color: $B3;
      line-height: 1.75;

      &:hover {
        color: $primary;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 15px;
      height: 15px;
    }
  }

  .docs-operation {
    margin-bottom: 2rem;
  }

  .download-pdf {
    &:before {
      background: url(../../../images/download-pdf.svg) no-repeat;
      background-size: contain;
    }

    &:hover {
      &:before {
        background: url(../../../images/download-pdf-hl.svg) no-repeat;
        background-size: contain;
      }
    }
  }

  .improve-doc {
    &:before {
      background: url(../../../images/improve-docs-icon.svg) no-repeat;
      background-size: contain;
    }

    &:hover {
      &:before {
        background: url(../../../images/improve-docs-hl-icon.svg) no-repeat;
        background-size: contain;
      }
    }
  }

  .feedback-doc {
    &:before {
      background: url(../../../images/feedback-docs-icon.svg) no-repeat;
      background-size: contain;
    }

    &:hover {
      &:before {
        background: url(../../../images/feedback-docs-hl-icon.svg) no-repeat;
        background-size: contain;
      }
    }
  }

  .doc-blockquote {
    $border-width: 5;
    position: relative;

    &.note {
      background: rgba($color: $B2, $alpha: 0.1);
      border-left: #{$border-width}px solid $B2;

      &:before {
        background: url('../../../images/blockquotes/note.svg') no-repeat;
      }
    }

    &.warning {
      background: rgba($color: $T6, $alpha: 0.1);
      border-left: #{$border-width}px solid $T6;

      &:before {
        background: url('../../../images/blockquotes/warning.svg') no-repeat;
      }
    }

    &.tip {
      background: rgba($color: $T1, $alpha: 0.1);
      border-left: #{$border-width}px solid $T1;

      &:before {
        background: url('../../../images/blockquotes/tip.svg') no-repeat;
      }
    }

    &.error {
      background: rgba($color: $T3, $alpha: 0.1);
      border-left: #{$border-width}px solid $T3;

      &:before {
        background: url('../../../images/blockquotes/error.svg') no-repeat;
      }
    }

    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 1rem;
    color: $M4;

    p:first-child > strong:first-child {
      color: $M4 !important;
      padding-left: 2rem;
    }

    &:before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      left: 1rem;
    }
  }
}
