@import '../common';

@import '../components/tabsPanel';
@import '../components/embedYouTube';

@import 'prismjs/themes/prism-solarizedlight.css';

$top: $navbar-height + 1rem;

.PingCAP-Doc {
  .left-aside,
  .right-aside {
    position: sticky;
    top: $top;
    height: 100%;
    max-height: calc(100vh - #{$top});
    padding-right: 1rem;
    overflow-y: auto;
  }

  // Custom markdown body
  .doc-content {
    line-height: 1.75;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      scroll-margin-top: $navbar-height;
    }

    a {
      color: rgba($B1, 0.9);

      &:hover {
        color: $B1;
      }

      &.anchor.before {
        left: 1rem;
      }
    }

    ul {
      list-style: initial;
    }

    table {
      th,
      td {
        text-align: left;

        code[class*='language-text'] {
          white-space: normal;
          word-break: initial;
        }
      }
    }

    img {
      display: block;
      margin: auto;
    }

    pre {
      background-color: $M2;

      code {
        .number {
          align-items: normal;
          background-color: transparent;
          border-radius: 290486px;
          display: inline-flex;
          font-size: 14px;
          height: 0;
          justify-content: center;
          margin-right: 0;
          min-width: 0;
          padding: 0;
          text-align: center;
          vertical-align: top;
        }
      }
    }

    :not(pre) > code[class*='language-text'] {
      white-space: normal;
      word-break: break-word;
    }

    a code {
      color: $B1;
    }

    .version-mark {
      position: relative;
      padding: 0 7px 0 25px;
      font-style: italic;
      font-size: 16px;
      color: $B4;
    }

    .version-mark::before {
      content: '';
      position: absolute;
      left: 2px;
      top: 50%;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
      background-image: url(../../../images/version-mark.png);
      background-size: 20px;
    }

    .commit-info {
      margin-top: 5rem;
      padding: 1rem;
      background-color: $M2;
    }
  }

  .gatsby-highlight {
    background: $M2;

    pre {
      &::before {
        padding-right: 0.5rem;
      }

      &.shell-root::before {
        content: '#';
      }

      &.shell-regular::before {
        content: '$';
      }

      &.sql::before {
        content: '>';
      }
    }
  }

  .right-aside {
    font-size: $size-7;
    margin-left: 0.75rem;

    @include mobile {
      display: none;
    }
  }

  .doc-toc {
    word-break: break-word;

    .title {
      color: $primary;
    }

    ul {
      li {
        padding-top: 0.5rem;

        ul {
          padding-left: 1rem;
        }
      }
    }
  }

  .doc-help-link {
    position: relative;
    display: block;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    color: $primary;

    &:hover {
      color: $B1;
    }

    $icons: download-pdf improve feedback;
    @each $icon in $icons {
      &.#{$icon} {
        &:before {
          content: '';
          position: absolute;
          top: 3px;
          left: -24px;
          width: 16px;
          height: 16px;
          background-image: url(images/doc/#{$icon}.svg);
          background-size: contain;
          background-repeat: no-repeat;
        }

        &:hover {
          &:before {
            background-image: url(images/doc/#{$icon}-hl.svg);
          }
        }
      }
    }
  }

  .doc-blockquote {
    $border-width: 5;
    position: relative;

    &.note {
      background: rgba($color: $B2, $alpha: 0.1);
      border-left: #{$border-width}px solid $B2;

      &:before {
        background: url('../../../images/blockquotes/note.svg') no-repeat;
      }
    }

    &.warning {
      background: rgba($color: $T6, $alpha: 0.1);
      border-left: #{$border-width}px solid $T6;

      &:before {
        background: url('../../../images/blockquotes/warning.svg') no-repeat;
      }
    }

    &.tip {
      background: rgba($color: $T1, $alpha: 0.1);
      border-left: #{$border-width}px solid $T1;

      &:before {
        background: url('../../../images/blockquotes/tip.svg') no-repeat;
      }
    }

    &.error {
      background: rgba($color: $danger, $alpha: 0.1);
      border-left: #{$border-width}px solid $danger;

      &:before {
        background: url('../../../images/blockquotes/error.svg') no-repeat;
      }
    }

    margin: 1rem 0;
    padding: 1rem;

    p:first-child > strong:first-child {
      padding-left: 2rem;
    }

    &:before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      left: 1rem;
    }
  }
}
