@import '../common';
@import '../components/navCloumns';

$navbar-height: 5.25rem; // 84px
$navbar-height-mobile: 4.25rem; // 68px

.PingCAP-Doc {
  .section {
    @include mobile {
      padding-top: 1.5rem;
    }
    @include tablet {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .doc-progress {
    @include mobile {
      top: calc(#{$navbar-height-mobile} - 1px);
    }

    position: fixed;
    top: calc(#{$navbar-height} - 1px);
    height: 1px;
    background: transparent;
    border-radius: 0;
    z-index: 30; // Same as .navbar.is-fixed-top

    &:-webkit-progress-bar {
      background: transparent;
    }
  }

  .left-column {
    @include mobile {
      margin-left: -0.75rem;
      margin-right: -0.75rem;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .doc-menu-mobile {
    @include mobile {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    @include tablet {
      display: none;
    }

    position: relative;
    padding: 1rem 0;
    background: $B5;
    color: $B3;
    font-weight: bold;
    z-index: 28;

    &:after {
      content: '';
      position: absolute;
      top: calc(1rem + 9px);
      right: 1.5rem;
      width: 12px;
      height: 12px;
      background: url(../../../images/toc/arrow.svg) no-repeat;
      background-size: contain;
      transform: rotate(0deg);
      transform-origin: 6px 3px;
      transition: transform 0.5s ease-out;
    }

    &.active {
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  // Custom markdown body
  .doc-content {
    @include tablet {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }

    color: $M3;
    line-height: 1.75;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include mobile {
        padding-top: $navbar-height-mobile;
        margin-top: -$navbar-height-mobile;
      }

      padding-top: $navbar-height;
      margin-top: -$navbar-height;
      border-bottom: none;
      z-index: 1;
      color: $B3;

      &:first-child {
        @include mobile {
          margin-top: -$navbar-height-mobile !important;
        }

        margin-top: -$navbar-height !important;
      }
    }

    h1 {
      font-size: $size-4;
    }

    h2 {
      font-size: $size-5;
    }

    h3 {
      font-size: $size-6;
    }

    h4 {
      font-size: $size-7;
    }

    p,
    ul {
      position: relative;
      z-index: 2;
    }

    a {
      color: $primary;

      &.anchor {
        @include mobile {
          top: $navbar-height-mobile;
        }

        top: $navbar-height;

        &.before {
          transform: translateX(-50%);
        }
      }
    }

    ul {
      list-style: inherit;
    }
  }

  .doc-toc-column {
    @include mobile {
      display: none;
    }
  }

  .doc-toc {
    position: sticky;
    top: calc(#{$navbar-height} + 1rem);

    .title {
      margin: 2rem 0 1rem;
      color: $B3;
      font-size: $size-7;
    }

    a {
      color: $B3;
      line-height: 1.75;

      &:hover {
        color: $primary;
      }
    }

    ul {
      li {
        ul {
          padding-left: 1rem;
        }
      }
    }
  }

  .doc-download {
    position: relative;
    margin: 1rem 0;

    a {
      margin-left: 1.5rem;
      color: $B3;
      line-height: 1.75;

      &:hover {
        color: $primary;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 15px;
      height: 15px;
      background: url(../../../images/download-pdf.svg) no-repeat;
      background-size: contain;
      transform: translateY(-50%);
    }
  }

  .doc-blockquote {
    $border-width: 5;
    position: relative;

    &.note {
      background: rgba($color: $B2, $alpha: 0.1);
      border-left: #{$border-width}px solid $B2;

      &:before {
        background: url('../../../images/blockquotes/note.svg') no-repeat;
      }
    }

    &.warning {
      background: rgba($color: $T6, $alpha: 0.1);
      border-left: #{$border-width}px solid $T6;

      &:before {
        background: url('../../../images/blockquotes/warning.svg') no-repeat;
      }
    }

    &.tips {
      background: rgba($color: $T1, $alpha: 0.1);
      border-left: #{$border-width}px solid $T1;

      &:before {
        background: url('../../../images/blockquotes/tips.svg') no-repeat;
      }
    }

    &.error {
      background: rgba($color: $T3, $alpha: 0.1);
      border-left: #{$border-width}px solid $T3;

      &:before {
        background: url('../../../images/blockquotes/error.svg') no-repeat;
      }
    }

    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 1rem;
    color: $M4;

    strong {
      color: $M4 !important;
      padding-left: 2rem;
    }

    &:before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      left: 1rem;
    }
  }
}
