:root {
  /* --shape-- */
  --tiui-shape-border-radius: 0px;

  /* --palette-- */
  --tiui-palette-primary: #dc150b;
  --tiui-palette-primary-light: #dc150b;
  --tiui-palette-primary-dark: #d0140b;
  --tiui-palette-secondary: var(--tiui-palette-peacock-800);
  --tiui-palette-secondary-light: var(--tiui-palette-peacock-700);
  --tiui-palette-secondary-dark: var(--tiui-palette-peacock-900);

  /* Carbon */
  --tiui-palette-carbon-50: #ffffff;
  --tiui-palette-carbon-100: #fbfdfd;
  --tiui-palette-carbon-200: #f5f8fa;
  --tiui-palette-carbon-300: #edf0f1;
  --tiui-palette-carbon-400: #e3e8ea;
  --tiui-palette-carbon-500: #c8ced0;
  --tiui-palette-carbon-600: #9faaad;
  --tiui-palette-carbon-700: #6c7679;
  --tiui-palette-carbon-800: #3d4143;
  --tiui-palette-carbon-900: #262a2c;

  /* Peacock */
  --tiui-palette-peacock-50: #fbfdfe;
  --tiui-palette-peacock-100: #f4fafd;
  --tiui-palette-peacock-200: #eaf5fa;
  --tiui-palette-peacock-300: #e0f0f8;
  --tiui-palette-peacock-400: #c0e1f1;
  --tiui-palette-peacock-500: #96cde9;
  --tiui-palette-peacock-600: #6cbae0;
  --tiui-palette-peacock-700: #2d9cd2;
  --tiui-palette-peacock-800: #1480b8;
  --tiui-palette-peacock-900: #0b628d;
}
