:root {
  /* --shape-- */
  --tiui-shape-border-radius: 0px;

  /* --palette-- */
  --tiui-palette-primary: #dc150b;
  --tiui-palette-primary-light: #dc150b;
  --tiui-palette-primary-dark: #d0140b;
  --tiui-palette-secondary: var(--tiui-palette-peacock-800);
  --tiui-palette-secondary-light: var(--tiui-palette-peacock-700);
  --tiui-palette-secondary-dark: var(--tiui-palette-peacock-900);

  /* Carbon */
  --tiui-palette-carbon-50: #ffffff;
  --tiui-palette-carbon-100: #fdfeff;
  --tiui-palette-carbon-200: #f9fafb;
  --tiui-palette-carbon-300: #edf1f2;
  --tiui-palette-carbon-400: #c4cdd0;
  --tiui-palette-carbon-500: #9fa9ad;
  --tiui-palette-carbon-600: #6f787b;
  --tiui-palette-carbon-700: #383e40;
  --tiui-palette-carbon-800: #1e2426;
  --tiui-palette-carbon-900: #1e2426;

  /* Peacock */
  --tiui-palette-peacock-50: #fbfdfe;
  --tiui-palette-peacock-100: #f4fafd;
  --tiui-palette-peacock-200: #eaf5fa;
  --tiui-palette-peacock-300: #e0f0f8;
  --tiui-palette-peacock-400: #c0e1f1;
  --tiui-palette-peacock-500: #96cde9;
  --tiui-palette-peacock-600: #6cbae0;
  --tiui-palette-peacock-700: #2d9cd2;
  --tiui-palette-peacock-800: #1480b8;
  --tiui-palette-peacock-900: #0b628d;

  /* Aqua */
  --tiui-palette-aqua-50: #fbfffe;
  --tiui-palette-aqua-100: #f5fcfc;
  --tiui-palette-aqua-200: #ecf9f9;
  --tiui-palette-aqua-300: #e2f5f5;
  --tiui-palette-aqua-400: #c6ecec;
  --tiui-palette-aqua-500: #9fdfdf;
  --tiui-palette-aqua-600: #79d2d2;
  --tiui-palette-aqua-700: #40bfbf;
  --tiui-palette-aqua-800: #29a3a3;
  --tiui-palette-aqua-900: #24868f;
}
