.copyBtn {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  background: transparent;
  border: unset;

  &:focus:not(:active) {
    box-shadow: none;
  }
}

.codeContent {
  margin-right: 3rem;
  overflow: auto;
}
