@import 'styles/common';

.nav {
  li {
    color: $primary;
    font-size: $size-7;
  }
  ul {
    padding-left: 1rem;
    overflow: hidden;
    max-height: 0px;

    &.list-open {
      max-height: unset;
    }
  }
  code {
    white-space: normal;
  }
}

.nav > .nav-item {
  border-bottom: 1px solid $divider-color;
  padding: 0.5rem 0;
  > a {
    font-weight: bold;
  }
  > .menu {
    svg {
      float: right;
      height: 1.3125rem;
      width: 1.3125rem;
    }
  }
}

.nav-item {
  word-break: break-word;
  padding-top: 0.5rem;
}

.menu {
  font-weight: bold;
  cursor: pointer;

  svg {
    @include svg;
    margin-right: 0.125rem;
  }
}

.active-link {
  color: $highlight;
  font-weight: 700;
}
