@import 'styles/common';

.dropdown {
  width: 100%;
  margin-bottom: 1.5rem;
}

.dropdown-trigger {
  width: 100%;
}

.button {
  justify-content: space-between !important;
}

.dropdown-menu {
  min-width: 100%;
}

.dropdown-content {
  border: 1px solid $border;
}

.no-exist {
  color: $grey;
  text-decoration: line-through;
}
