@import 'styles/common';

.footer {
  background: $M2;
}

.title {
  @include mobile {
    margin-bottom: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid $T2;
  }
}

.spread {
  @include mobile {
    @include VHCenter;
  }

  display: none;
  width: 16px;
  height: 16px;
  color: $primary;
  float: right;
  transform-origin: center;
  transition: transform 0.25s;

  &.clicked {
    transform: rotate(45deg);
  }
}

.items {
  transition: 0.25s;
  overflow: hidden;

  @include mobile {
    max-height: 0;

    &.displayed {
      max-height: 500px;
    }
  }

  li {
    margin: 1rem 0;

    a {
      display: inline-block;
      width: 100%;
    }
  }
}

.socials {
  @include mobile {
    margin-top: 1rem;
  }
}

.column {
  @include mobile {
    display: inline-block;
    margin-left: 1rem;
  }

  margin-bottom: 1rem;
  background-position: right;
}

.annotations {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  @include VHCenter;
}

.logo {
  width: 150px;
}
