@import '../../styles/common';

.learningPathContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  .learningPath {
    height: auto;
    position: relative;
    padding: 0.5rem 0;

    display: flex;
    align-items: center;

    &:not(:first-child)::before {
      content: '';
      width: 1px;
      height: calc(50% - 2rem);
      background-color: $divider-color;
      position: absolute;
      left: 3.5rem;
      top: 0;
    }

    &:not(:last-child)::after {
      content: '';
      width: 1px;
      height: calc(50% - 2rem);
      background-color: $divider-color;
      position: absolute;
      left: 3.5rem;
      bottom: 0;
    }
  }

  .LearningPathRight {
    height: auto;
    min-height: 5rem;
    padding: 2rem;

    background-color: #f6f6f6;
    box-shadow: none;
    transition: 0.5s;

    &:hover {
      box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
        0 0px 0 1px rgb(10 10 10 / 2%);
    }
  }

  .LearningPathRight > p {
    margin: 0;

    a {
      color: #24292f;
    }
  }
}

.LearningPathLeft {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  height: 100%;

  @include mobile {
    padding: 0;
    gap: 0;
    border-right: unset;
  }

  .LearningPathLabel {
    margin: 0;
    font-weight: bold;
    width: 5rem;
  }

  .LearningPathImg {
    // height: 3.75rem;
    // width: 3.75rem;
    height: 3rem;
    width: 3rem;
    margin: 0;
    background: transparent;
  }
}

.LearningPathRight {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1rem;

  > p {
    margin: 0;
    flex: 0 0 33.333333%;
  }

  @include mobile {
    width: 100%;

    > p {
      flex: 50%;
    }
  }
}

.titleGroup {
  background: #252525;
  // height: 350px;

  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column-reverse;
    height: auto;
  }

  .titleLeft {
    padding: 2.5rem 0 2.5rem 2.5rem;
    width: auto;
    max-width: 50%;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;

    @include mobile {
      max-width: unset;
      padding: 0 1rem 2rem 1rem;
    }
  }

  .titleRight {
    padding: 1rem;
    width: 50%;

    @include mobile {
      padding: 2rem 1rem;
      width: unset;
      height: 200px;
    }
  }

  .titleImg {
    width: 100%;
    height: 100%;
    max-width: 512px;
    // max-height: 281px;
    margin: 0 auto;
    // background-image: url('../../../images/docHome/docHome.svg');
    background-repeat: no-repeat;
    background-position: center;

    @include mobile {
      background-size: contain;
    }
  }

  .titleImgHome {
    background-image: url('../../../images/docHome/pablo-book-lover.svg');
  }

  .titleImgTidb {
    background-image: url('../../../images/docHome/tidb-banner.svg');
  }

  .titleImgCloud {
    background-image: url('../../../images/docHome/tidb-cloud-banner.svg');
  }

  .search {
    max-width: 300px;
  }

  h1.title {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: #fff;
    border-bottom: 0;

    margin: 0;
    padding: 0;
  }

  .subTitle {
    color: #fff;
    // max-width: 637px;
  }
}

.body:global(.columns) {
  margin: 0;
}

main.mainContainer {
  > div:last-child {
    border-bottom: 0;
  }

  .docHomeSection > p {
    margin: 0;
  }
}

.docHomeSection {
  border-bottom: 1px solid #f4f4f4;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  h2.docHomeSectionTitle {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    border-bottom: unset;
  }

  a:global(.button) {
    width: fit-content;
    color: #fff;
    background-color: #3d3fea;
    text-decoration: none;
    border-color: transparent;

    &:hover {
      color: #fff;
      text-decoration: none;
      border-color: transparent;
    }
  }
}

.cardsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(224px, 30%));
  gap: 1.5rem;
  justify-content: space-between;

  @include mobile {
    justify-content: normal;
  }

  a.cardLink {
    &:hover {
      text-decoration: none;
    }
  }

  .card {
    background-color: #f6f6f6;
    box-shadow: none;
    transition: 0.5s;

    &:hover {
      box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
        0 0px 0 1px rgb(10 10 10 / 2%);

      .cardContentH3 {
        color: #3d3fea;
      }
    }
  }
}

.card {
  height: 100%;

  .cardContent {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    // gap: 2rem;
    gap: 1rem;

    @include tablet {
      padding: 1.5rem;
    }

    @include mobile {
      padding: 1.5rem;
    }

    p {
      margin: 0;
    }
  }

  img.cardContentImg {
    // height: 3.75rem;
    // width: 3.75rem;
    height: 3rem;
    width: fit-content;
    margin: 0;

    background: transparent;
  }

  h3.cardContentH3 {
    margin: 0;
  }
}

aside.toc {
  @include tablet {
    display: none;
  }

  ul.menu {
    padding: 0;
  }

  li.menuItem {
    list-style: none;
    margin: 0;

    a {
      color: #172d72;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
