@import '../../styles/common';

.learningPathContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;

  .learningPath {
    height: 10rem;
    padding: 2rem 0;

    display: flex;
    align-items: center;

    background-color: #f6f6f6;
    box-shadow: none;
    transition: 0.5s;

    &:hover {
      box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
        0 0px 0 1px rgb(10 10 10 / 2%);

      // .cardContentH3 {
      //   color: #3d3fea;
      // }
    }
  }

  .LearningPathRight > p {
    margin: 0;

    a {
      color: #24292f;
    }
  }
}

.LearningPathLeft {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  height: 100%;
  border-right: 1px solid $divider-color;

  .LearningPathLabel {
    margin: 0;
    font-weight: bold;
  }

  .LearningPathImg {
    // height: 3.75rem;
    // width: 3.75rem;
    height: 3rem;
    width: 3rem;
    margin: 0;
    background: transparent;
  }
}

.LearningPathRight {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 1rem;

  padding: 0 2rem;

  > p {
    margin: 0;
    flex: 0 0 33.333333%;
  }
}

.titleGroup {
  background: #252525;
  height: 350px;

  display: flex;
  justify-content: space-between;

  .titleLeft {
    padding: 2.5rem 0 2.5rem 2.5rem;
    width: auto;
    max-width: 50%;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
  }

  .titleRight {
    padding: 1rem;
    width: 50%;
  }

  .titleImg {
    width: 100%;
    height: 100%;
    max-width: 512px;
    // max-height: 281px;
    margin: 0 auto;
    // background-image: url('../../../images/docHome/docHome.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .titleImgHome {
    background-image: url('../../../images/docHome/docHome.svg');
  }

  .titleImgTidb {
    background-image: url('../../../images/docHome/tidb-banner.svg');
  }

  .titleImgCloud {
    background-image: url('../../../images/docHome/tidb-cloud-banner.svg');
  }

  .search {
    max-width: 300px;
  }

  h1.title {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: #fff;
    border-bottom: 0;

    margin: 0;
    padding: 0;
  }

  .subTitle {
    color: #fff;
    // max-width: 637px;
  }
}

.body:global(.columns) {
  margin: 0;
}

main.mainContainer {
  > div:last-child {
    border-bottom: 0;
  }
}

.docHomeSection {
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;

  h2.docHomeSectionTitle {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    border-bottom: unset;
  }

  a:global(.button) {
    width: fit-content;
    color: #fff;
    background-color: #3d3fea;
    text-decoration: none;
    border-color: transparent;

    &:hover {
      color: #fff;
      text-decoration: none;
      border-color: transparent;
    }
  }
}

.cardsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 30%));
  gap: 1.5rem;
  justify-content: space-between;

  a.cardLink {
    &:hover {
      text-decoration: none;
    }
  }

  .card {
    background-color: #f6f6f6;
    box-shadow: none;
    transition: 0.5s;

    &:hover {
      box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
        0 0px 0 1px rgb(10 10 10 / 2%);

      .cardContentH3 {
        color: #3d3fea;
      }
    }
  }
}

.card {
  height: 15rem;

  .cardContent {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    // gap: 2rem;
    gap: 1rem;

    p {
      margin: 0;
    }
  }

  img.cardContentImg {
    // height: 3.75rem;
    // width: 3.75rem;
    height: 3rem;
    width: 3rem;
    margin: 0;

    background: transparent;
  }

  h3.cardContentH3 {
    margin: 0;
  }
}

.toc {
  ul.menu {
    padding: 0;
  }

  li.menuItem {
    list-style: none;
    margin: 0;

    a {
      color: #172d72;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
