@import '../../styles/common';

.container {
  display: flex;
  flex-direction: column;

  .item {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 1.5rem;
    border-bottom: 1px solid $divider-color;

    > p {
      margin-bottom: 0;
    }

    p:first-child {
      height: 2rem;
      width: 2rem;
    }

    h4 {
      margin: 0;
      width: 6.25rem;
      padding: 0.5rem 0;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      column-gap: 2rem;
      row-gap: 1rem;
      width: calc(100% - 12.5rem);
      list-style-type: none;
      list-style: none;
      padding: 0;
      margin: 0;

      li + li {
        margin-top: 0;
      }

      a {
        font-size: 1em;
        line-height: 1.25;
        color: unset;
        background-color: $M2;
        border: 1px solid $divider-color;
        padding: 0.5rem 1.5rem;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }
}

:global(.markdown-body) {
  h1.containerTitle {
    border-bottom: 0;
    width: fit-content;
    margin: 0 auto;
  }
}

.titleGroup {
  background: linear-gradient(
    180deg,
    #172d72 45.08%,
    rgba(65, 47, 229, 0) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  margin-bottom: 16px;

  h1.title,
  .subTitle {
    color: #fff;
    border-bottom: 0;
    width: fit-content;
    // margin: 0 auto;
    margin: unset;
  }

  h1.title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 41px;
  }

  .subTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    max-width: 637px;
  }
}
