@import '../../styles/common';

ul.tabs {
  display: flex;
  padding-left: 0;
  border-bottom: 1px solid #dbdbdb;
  white-space: nowrap;

  li {
    // could be used as anchor
    scroll-margin-top: $navbar-height;
    list-style: none;
    border-color: #dbdbdb;
    & + li {
      margin-top: 0;
    }
  }

  a {
    display: block;
    padding: 0.5em 1em;
    margin-bottom: -1px;
    background-color: white;

    &:hover {
      text-decoration: none;
      background-color: #f5f5f5;
    }

    &.active {
      border-radius: 4px 4px 0 0;
      border: 1px solid #dbdbdb;
      border-bottom-color: transparent;
      color: #3d3fea;
    }
  }
}

.hidden {
  display: none;
}
