@import '../../styles/common';

.root {
  background: $M2;
}

.toolbar {
  button {
    height: $size-3;
  }
}

.container {
  $stroke: #0e2336;

  padding: 0 1rem;

  dt {
    &:first-child {
      margin-top: 0;
    }
    &::after {
      font-weight: normal;
      content: ' ::=';
    }
  }

  dd {
    overflow-x: auto;
    overflow-y: hidden; // needed to make it look good on IE 11.
  }

  path {
    fill: none;
    stroke-width: 1;
    stroke: $stroke;
  }

  text {
    font: 12px Verdana, sans-serif;
    text-anchor: middle;
  }

  rect {
    fill: #e5eff8;
    stroke-width: 1;
    stroke: $stroke;
  }

  :global {
    .start-end {
      fill: $stroke;
    }

    .terminal {
      rect {
        fill: #d0e2f3;
      }
      text {
        font-weight: bold;
      }
    }
  }
}
