name: Trigger update workflow

on:
  push:
    branches:
      - master

jobs:
  trigger:
    runs-on: ubuntu-latest

    steps:
    - name: Extract branch and sha
      shell: bash
      id: extract
      run: |
        echo "::set-output name=sha::$(sha=${{ github.sha }}; echo ${sha:0:6})"

    - name: Repository Dispatch
      uses: peter-evans/repository-dispatch@v1
      with:
          token: ${{ secrets.DISPATCH_TOKEN }}
          repository: pingcap/website-docs
          event-type: ${{ github.repository }}/${{ github.ref_name }}-${{ steps.extract.outputs.sha }}
          client-payload: '{ "repo": "${{ github.repository }}", "ref": "${{ github.ref_name }}", "sha": "${{ github.sha }}" }'
