name: Incremental Build Triggered By Push Events

on: repository_dispatch

jobs:
  build:
    name: Retrieve docs and deploy the website
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # https://github.com/gatsbyjs/gatsby/issues/11406
      - name: Increase file watchers
        if: ${{ !env.ACT }}
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      # make sure there is only one workflow running
      - name: Turnstyle
        if: ${{ !env.ACT }}
        uses: softprops/turnstyle@v1

      - name: Set known_hosts
        if: ${{ !env.ACT }}
        id: known-hosts
        run: |
          echo "::set-output name=BJ_PROXY::$(ssh-keyscan -H ${{ secrets.BJ_PROXY_HOST }})"
          echo "::set-output name=LA1::$(ssh-keyscan -H ${{ secrets.LA_1_HOST }})"
          echo "::set-output name=LA2::$(ssh-keyscan -H ${{ secrets.LA_2_HOST }})"

      - name: Install SSH Key
        if: ${{ !env.ACT }}
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          known_hosts: |
            ${{ steps.known-hosts.outputs.BJ_PROXY }}
            ${{ steps.known-hosts.outputs.LA1 }}
            ${{ steps.known-hosts.outputs.LA2 }}

      - uses: actions/setup-node@v2
        if: ${{ !env.ACT }}
        with:
          node-version: '14'
          cache: 'yarn'

      - name: Install yarn
        if: ${{ env.ACT }}
        run: |
          echo "node version:"
          node -v
          echo "npm version:"
          npm -v
          npm install -g yarn

      - name: Install deps
        run: yarn

      - name: Restore docs
        uses: actions/cache@v2
        id: docs
        with:
          path: ./markdown-pages
          key: ${{ runner.os }}-docs-newest-cache-${{ github.event.client_payload.sha }}
          restore-keys: |
            ${{ runner.os }}-docs-newest-cache-

      # if download_type is full, download all docs
      - name: Check restore status
        if: github.event.client_payload.download_type == 'full'
        run: |
          export GITHUB_AUTHORIZATION_TOKEN=${{ secrets.GH_TOKEN }}
          yarn download:tidb:en:all
          yarn download:tidb:zh:all
          yarn download:dm:all
          yarn download:tidb-operator:all
          yarn download:dbaas:all
          yarn download:appdev:all

      # incremental: get the base commit from cache for furthur use
      - name: Get base commit cache
        if: github.event.client_payload.download_type != 'full' && github.event.client_payload.repo != 'pingcap/website-docs'
        id: cache-commit
        run: |
          REPO=$(cut -d"/" -f2 <<< "${{ github.event.client_payload.repo }}")
          HASH=${{ github.workspace }}/markdown-pages/$REPO-${{ github.event.client_payload.ref }}.hash
          BASE=""
          if [ -f "$HASH" ]; then
            BASE=$(cat $HASH)
          fi
          echo "get base hash: $BASE"
          echo "::set-output name=path::$HASH"
          echo "::set-output name=base::$BASE"

      # incremental: download changed files
      - name: Sync docs
        if: steps.cache-commit.outputs.base != '' && github.event.client_payload.download_type != 'full' && github.event.client_payload.repo != 'pingcap/website-docs'
        run: |
          [[ ${{ env.ACT }} = "true" ]] && dryRun="true" || dryRun="false"
          GITHUB_AUTHORIZATION_TOKEN=${{ secrets.GH_TOKEN }} yarn sync ${{ github.event.client_payload.repo }} --ref ${{ github.event.client_payload.ref }} ${{ steps.cache-commit.outputs.base }} ${{ github.event.client_payload.sha }} --dry-run $dryRun

      - name: Restore gatsby cache
        uses: actions/cache@v2
        id: gatsby-cache
        with:
          path: ./.cache
          key: ${{ runner.os }}-v1-gatsby-cache-${{ github.event.client_payload.sha }}
          restore-keys: |
            ${{ runner.os }}-v1-gatsby-cache-

      - name: Restore gatsby build
        uses: actions/cache@v2
        id: gatsby-build
        with:
          path: ./public
          key: ${{ runner.os }}-v1-gatsby-build-${{ github.event.client_payload.sha }}
          restore-keys: |
            ${{ runner.os }}-v1-gatsby-build-

      - name: Build website
        env:
          GATSBY_ALGOLIA_APPLICATION_ID: ${{ secrets.ALGOLIA_APPLICATION_ID }}
          GATSBY_ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
        run: yarn build

      - name: Deploy to LA1
        if: ${{ !env.ACT && github.repository_owner == 'pingcap' }}
        run: |
          rsync -avz --delete public/ "${{ secrets.SSH_USER }}@${{ secrets.LA_1_HOST }}:${{ secrets.DEPLOY_PATH }}"

      - name: Deploy to LA2
        if: ${{ !env.ACT && github.repository_owner == 'pingcap'}}
        run: |
          rsync -avz --delete public/ "${{ secrets.SSH_USER }}@${{ secrets.LA_2_HOST }}:${{ secrets.DEPLOY_PATH }}"

      - name: Deploy to BJ1
        if: ${{ !env.ACT && github.repository_owner == 'pingcap'}}
        run: |
          rsync -avz --delete -e 'ssh -p ${{ secrets.BJ_1_PROXY_PORT }} -o StrictHostKeyChecking=no' public/ "${{ secrets.SSH_USER }}@${{ secrets.BJ_PROXY_HOST }}:${{ secrets.DEPLOY_PATH }}"

      - name: Deploy to BJ2
        if: ${{ !env.ACT && github.repository_owner == 'pingcap'}}
        run: |
          rsync -avz --delete -e 'ssh -p ${{ secrets.BJ_2_PROXY_PORT }} -o StrictHostKeyChecking=no' public/ "${{ secrets.SSH_USER }}@${{ secrets.BJ_PROXY_HOST }}:${{ secrets.DEPLOY_PATH }}"

      - name: Update current commit sha to cache
        if: github.event.client_payload.download_type != 'full' && github.event.client_payload.repo != 'pingcap/website-docs'
        run: |
          echo ${{ github.event.client_payload.sha }} > ${{ steps.cache-commit.outputs.path }}

      # if does full building, store latest commit sha of all docs repo
      - name: Update all commit hashes
        if: github.event.client_payload.download_type == 'full'
        run: |
          bash ./scripts/get-latest-commits.sh ${{ secrets.GH_TOKEN }}
